body {
    width: 350px;
    background-color: #0B0B0B;
    color: #E2E2E2;
}
.section {
    background-color: #1E1E1E;
    margin-bottom: 8px;
}
.palette {
    background-color: #3E3E3E;
    margin-bottom: 8px;
}
.backBtn {
    margin-top: 4px;
    margin-bottom: 10px;
}
.applyChangeBtn {
    background-color: #3EE258;
    margin-bottom: 8px;
    color: black;
    width: 145px;
    font-size: 14px;
    font-weight: bold;
}


