body {
    width: 360px;
    background-color: #0B0B0B;
    color: #E2E2E2;
    max-height: 375px;
    box-sizing: border-box;
}

.container {
    max-height: 375px;
}

.section {
    background-color: #1E1E1E;
    margin-bottom: 10px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.btn {
    background-color: #3EE258;
    margin-bottom: 8px;
    color: black;
    width: 145px;
    font-weight: bold;
}

ul{
    list-style-type: none;
}

.alertMessage {
    display: none;
}

.container::-webkit-scrollbar {
    width: 10px;
}

.container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.container::-webkit-scrollbar-thumb {
    background: #888;
}

    .container::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
