body {
    width: 350px;
    background-color: #0B0B0B;
    color: #E2E2E2;
}
.section {
    background-color: #1E1E1E;
    margin-bottom: 10px;
    padding: 8px 8px 8px 8px;
}
.backBtn {
    margin-top: 4px;
    margin-bottom: 10px;
}
a:link{
    color: white;
}
a:visited{
    color: white;
}